body {
  margin: 0;


  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;


}

/*
 смещение в футере  и шапке 

у тегов address просто  огрооомная площадь (content) из-за этого в меню каталога (футер) и в шапке все сьезжает

как сверстать меню каталога главной страницв  на флексах (цветные блоки)

на главнай стронице и странице каталога можно задать карточки таваров одними стилями? ( там разная ширина блоков)

картинка при наведении становится прозоачной и я задаю стиль ссылке , в которую обернуто изображене, 
но в нормальном состоянии и при наведении картинка не меняется , нужно ли прописывать все оставшиеся состояния, если да, то что там указывать? 
(карточки производителей/брендов )

line-height:- нужно ли это свойство или выравниваем с помошью отступов и vertical-align?

не проверяла на точноее сооттветствие макету

<hr> не реагирует на стили
*/




a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

hr {
  color: #f2f6f8;
}

/*---------------------------------hader-------------------------------------------*/



.shopping_bar {
  background-color: #293449;
}

.shopping_bar:hover {
  background-color: #212a3a;
}

/*--------------------------------------------СТРОКА ПОИСКА----------------------------------------------*/

.search_headline {
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
}


.search_line {
  display: inline-block;
  margin: 0;


  background-color: #293449;
  color: #000;
  font-size: 17px;
  min-height: 40px;
  border: none;
  outline: none;
}

.search_line:hover,
  {
  background-color: #212a3a;
}

.search_line:focus {
  background-color: #ffffff;
  color: #000000;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.search_line:focus,
.search_headline:hover {
  display: none;
}

/*разобратся как спрятать*/


.search_line:active {
  display: none;
  background-color: #ffffff;
}

.search_button {
  border: none;
}


/*--------------------КОРЗИНА-ЗАКЛАДКИ-ОФОРМИТЬЮЗАКАЗ------------------------*/
.purchase_inform_list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.purchase_inform_list a:link,
.purchase_inform_list a:visited {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.purchase_inform_list a:hover,
.purchase_inform_list a:focus {
  background-color: #212a3a;
}

.purchase_inform_list a:active {
  background-color: #161d29;
  opacity: 0.6;
}

.checkout_button:link,
.checkout_button:visited {

  color: #ffffff;
  font-size: 17px;

  background-color: #63a63e;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 45px;
  padding-right: 26px;

}

.checkout_button:hover,
.checkout_button:focus {
  background-color: #5fbb2d;
}

.checkout_button:active {
  opacity: 0.5;
  background-color: #518534;
}


/*-----------------------------------------inform_bar-----------*/


.inform_bar {
  background-color: #f1f5f7;
}

h1,
.about_technomart {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  margin: 0px;
}

address {
  text-decoration: none;
  font-style: normal;
}


.tel_technomart:link,
.tel_technomart:visited,
.tel_technomart:hover,
.tel_technomart:focus .tel_technomart:active {

  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.42px;

  border: 3px solid #ffffff;
  background-color: #f2f6f8;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 75px;
  padding-right: 50px;

}


.technomart_address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.profile_list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-left: auto;
}


.profile_list a:link,
.profile_list a:visited {

  color: #000000;
  font-size: 21px;
  font-weight: 400;

  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 50px;
  background-color: #fff;
  margin-left: 10px;
  margin-top:
}

.profile_list a:hover,
.profile_list a:focus {
  color: #ee3643;
}

.profile_list a:active {
  color: #000000;
  opacity: 0.3;
}



.site_navigation_list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.site_navigation_list a {
  color: #ffffff;
  font-size: 17px;
  /*line-height: 17px;-----------если задаем vertical-align , то это свойство не нужно?*/
}

.site_navigation_item:hover {
  background-color: #293449;
}

.site_navigation_item:focus {
  background-color: #293449;
}

.site_navigation_item:active {
  opacity: 0.5;
}


/*-------------------------------------------main-------------------------------*/

/*--------------catalog-navigation----*/
.catalog_navigation {
  margin: 0 auto;
  padding: 0;
}

.catalog_navigation_list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

}

.catalog_navigation_item {
  width: 300px;
  height: 123px;
}

.catalog_navigation_item:nth-child(1) {
  background-color: #ffbf47;
}

.catalog_navigation_item:nth-child(2) {
  background-color: #3bbce3;
}

.catalog_navigation_item:nth-child(3) {

  background-color: #dc91d8;
}

.catalog_navigation_item:nth-child(4) {
  background-color: #8ed78f;
}

.catalog_navigation_item:nth-child(5) {
  background-color: #ffbf47;
}

.headline_catalog_navigation {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}



.new {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
}


.button_catalog_navigation:link,
.button_catalog_navigation:visited {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #e6e6e6;
}

.button_catalog_navigation:hover,
.button_catalog_navigation:focus {
  background-color: #cccccc;
}

.button_catalog_navigation:active {
  background-color: #b2b2b2;
}

/*--слайдор--*/
/*-------------------------------ПОУЛЯРНЫЕ ТОВАРЫ-----------------------*/
.horizontal_сolumn {
  width: 940px;
  height: 90px;
  background-color: #f9f5f0;
}

.headline_horizontal_сolumn {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-right: 375px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0px;
}

.button_horizontal_сolumn:link,
.button_horizontal_сolumn:visited {
  background-color: #ee3643;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;


}

.button_horizontal_сolumn:hover,
.button_horizontal_сolumn:focus {
  background-color: #ca2c37;
}

.button_horizontal_сolumn:active {
  background-color: #ba2732;
}

/*---------------------КАРТОЧКИ ПРОИЗВОДИТЕЛЕЙ----------------------*/
.box_manufacturers {
  /* если дообавляю состояние link и visited стили не работают, это нужно?
     это  ведь ссылки*/
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.box_manufacturers:hover,
.box_manufacturers:focus,
.box_manufacturers:active {
  width: 220px;
  height: 145px;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.manufacturers_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.manufacturers_item {}

.logo_manufacturer:active {
  opacity: 0.3;

}

/*картинка при наведении становится прозоачной и я задаю стиль ссылке , в которую обернуто изображене, 
но в нормальном состоянии и при наведении картинка не меняется , нужно ли прописывать все оставшиеся состояния, если да, то что там указывать? */



.box_about_purchase {
  background-color: #f4f8f9;

  display: flex;
  width: 100%;
  min-height: 225px;
  margin-bottom: 80px;
}

.about_purchase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  min-height: 455px;
  /*посчитала до нижнего края серого блока тк не хнаю как быть с гузавиком */
  margin: 0 auto;

  align-items: flex-start;

}

.service {}

.service_headline {

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}


.service_text {
  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}


.shipping_headline {
  /*---------стили скопированы с макета в авакоде, но выглядт иначе (подобные случаии ниже)*/
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.shipping_text {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.headline_list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.headline_item_current {
  /*<----------------------------------как настроить в разных состояниях*/
  color: #32425c;
  background-color: #ffffff;
  border: none;

  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  font-family: Cuprum;
}


.headline_item {
  /*<-----------------визуально отличается от макета (код скопирован)-*/
  color: #ffffff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  background-color: #32425c;
  border: none;
}

.headline_item:hover,
.headline_item:focus {
  background-color: #293449;

}

.headline_item:active {
  background-color: #ffffff;
  color: #32425c;
}

/*-------------------контакты и о компании----------------------*/

.headline_about_company {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

}

.transport_companies_list {
  list-style: none;
  margin: 0;
  padding: 0;


}

.transport_companies_item::before {
  content: "-";
  width: 25px;
  height: 2px;
  color: #ee3643;
}

/*<-----------------визуально отличается от макета, код (это геометричская фигура или тире? если первое, то как оформить?)-*/

.transport_companies_item {
  font-size: 18px;
  list-style: 20px;
}


/*-----------------popua_map--------------*/

.box_popup_map {
  width: 940px;
  height: 447px;
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  background-color: #565656;
  margin-bottom: 40px;
}

.popup_map_close {
  border: none;
}

.box_lower_popup {
  /*width: 620px;*/
  height: 112px;
  background-color: #f1f1f1;
}

/*------------------------------FOOTER-------------------------------------------*/


.footer_site_info {
  /*width: 1917px;
height: 300px;*/
  background-color: #32425c;
}

/*-------------навигация по сайту(футер)-------------*/
.footer_site_nav_list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  display: flex;
}

.footer_site_nav_list a:link,
.footer_site_nav_list a:visited {
  color: #f3f7f9;
  font-size: 18px;
  

  display: block;
  margin-top: 30px; /*-----------------------------не могу понять почему текст не наместе( исправила значение на свое , в авокоде 42px*/
  margin-bottom: 25px;
  margin-right: 60px;

}

.footer_site_nav_list a:hover,
.footer_site_nav_list a:focus {
  text-decoration: underline;
}

.footer_site_nav_list a:active {
  color: #fff;
  opacity: 0.5;
}

/*------навигация по каталогу (футер)-------------*/


.footer_catalog_nav_list {
  list-style: none;
  margin: 0;
  padding:0;

  display: flex;
  justify-content: flex-end;
/*не хочет становится на одну строку с адрессом ( меняю display на inline-block - ничего 
меняла в html разметку (добавляла  дивы - ничего не вышло) */
}

.footer_catalog_nav_list a:link,
.footer_catalog_nav_list a:visited {
  color: #ffd180;
  font-size: 18px;

  display: block;
  margin-right: 60px;
   margin-bottom: 75px;
 
}

.footer_catalog_nav_list a:hover,
.footer_catalog_nav_list a:focus {
  text-decoration: underline;
}

.footer_catalog_nav_list a:active {
  color: #ffd180;
  opacity: 0.5;
}

.address_footer {
  font-style: normal;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  

  margin-right: 90px;
  display: inline-block;

  
}

.additional_information {
  /*
width: 1917px;
height: 107px;*/
  background-color: #293449;
}

.copyright {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.social_networks {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.social_button:link,
.social_button:visited {
  background-color: #212a3a;
  color: #fff;
}

.social_button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.social-button:active {
  background-color: #ee3643;
}


.feedback {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.developer_contacts:link,
.developer_contacts:visited {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.developer_contacts:hover,
.developer_contacts:focus {
  text-decoration: underline;
}

.developer_contacts:active {
  color: #ee3643;
  text-decoration: none;
}

.developed {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

/*---------------------------------------MAIN CATALOG------------------------------------*/
.personal_box {
  background-color: #fff;
  width: 299px;
  height: 45px;
}

.personal {
  list-style: none;
  width: 299px;
  height: 45px;
  margin: 0px;
  padding: 0px;
}

.personal_profile {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.output_icon {
  border: none;
}

.personal_list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  display: flex;
  min-height: 15px;
  width: 210px;
  justify-content:space-between;
}

.personal_item a:link,
.personal_item a:visited {
  color: #32425c; 
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline; 
}

.personal_item a:hover,
.personal_item a:focus {
  color: #ee3643;
  text-decoration: underline;
}

.personal_item a:active {
  text-decoration: underline;
  color: #32425c;
  opacity: 0.3;
}

h1.inner_page {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
  background-color: #f2f6f8;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
}





.breadcrumbs {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 940px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25px;
 
}

.breadcrumbs a {

  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumbs_current{
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumbs-current::after {
  display: none;
}
.breadcrumbs_item {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs_item::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -25px;



/*правильно сделан значок? (не доконца поняла как расчитывать координаты)*/
width: 8px;
height: 8px;
border-right: 1px solid #c5c9d1;
border-top: 1px solid #c5c9d1;
transform: rotate(45deg);
  background-color: #fff;
}
.breadcrumbs_item:last-child {
  margin-right: 0;
}

.headline_filter {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

/*------------------------------выгляяет не как на макете (код скопирован) */

.filter_by_price {
  list-style: none;
}

.ascending {}

.descending {}

legend {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
.filters fieldset:last-child {
  margin-bottom: 80px;
} /*не работает*/


.filters label {
 color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

}


.supply_radio_list {
  list-style: none;
}


.button_submit {
  border: none;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;

}

.box_sorting {
  /*
width: 700px;
height: 38px;*/
  background-color: #f7f3ec;
}

.sorting_list {
  list-style: none;
}

.sorting_item:link,
.sorting_item:visited {
  line-height: 18px;
  opacity: 0.3;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px dotted #ee3643;
}

.sorting_item:hover,
.sorting_item:focus {
  opacity: 0.3;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #ee3643;
}


.sorting_item:active {
  opacity: 0.3;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  color: #ee3643;
}



/*-----------------карточки товаров-----------*/


.catalog_item {
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
   margin-bottom: 20px;
   margin-right: 20px;
}
.catalog_item:nth-child(3n) {
  margin-right: 0;
}

.catalog_item:hover {
  width: 220px;
  height: 318px;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.perforator_name {
  text-align: center;
}


.goods_name:link,
.goods_name:visited,
.goods_name:hover,
.goods_name:focus,
.goods_name:active {
  font-style: normal;
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;

}

.price {
  text-align: center;
}

del {
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;

}

.new_price {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.buy_button {
  /*width: 41px;
height: 10px;*/
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  display: none;
  border: none;
}

.buy_button:hover {
  /*
width: 41px;
height: 10px;*/
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}

/*display: block; опять же где прописывать это своество если кнопки нет, вроде как классу catalog_item*/

.buy_button:focus {
  /*
width: 41px;
height: 10px;*/
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
  display: block;
}

.buy_button:active {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  background-color: #518534;
  display: block;
}

.bookmark_button {
  /* 
width: 67px;
height: 12px;*/
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  width: 135px;
  height: 38px;
  border: 3px solid #63a63e;
  display: none;
}

.bookmark_button:hover {
  /* 
width: 67px;
height: 12px;*/
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  width: 135px;
  height: 38px;
  border: 3px solid #32425c;
}

.bookmark_button:focus {
  /* 
width: 67px;
height: 12px;*/
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  width: 135px;
  height: 38px;
  border: 3px solid #32425c;
}

.bookmark_button:activ {
  /* 
width: 67px;
height: 12px;*/
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  width: 135px;
  height: 38px;
  border: 3px solid #32425c;
  opacity: 0.3;
}

/*страницы сайта */


.pagination_list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;

  display: flex;
width: 285px;
min-height: 40px;
  justify-content: space-between;
}
.pagination-item:last-child {
  margin-right: 0;
}

.pagination_item a:link,
.pagination_item a:visited {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;


  border: 1px solid #e5e5e5;
  border-radius:5px; /*в авокоде параметр не нашла*/
  background-color: #ffffff;
  
  display: block;
  padding-top:14px;
  padding-bottom:15px;
  padding-left:16px;
  padding-right: 16px;
}

.pagination_list a:hover,
.pagination_list a:focus {
  
  border: 1px solid #bdc6ca;
  background-color: #ffffff;
}

.pagination_list a:activ {
  border: 1px solid #ee3643;
  background-color: #ffffff;
}

.pagination_item_current {
  background-color: #ee3643;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;

  border-radius:5px;

  padding-top:14px;
  padding-bottom:15px;
  padding-left:16px;
  padding-right: 16px;
  

}

.punch_container {
  display: flex;
width: 100%;
min-height: 260px;
  background-color: #f2f6f8;
  padding-top: 65px;
}
.punch_box{
  margin:0 auto;
  padding: 0;
  min-height:120px;
  width: 940px; 
}

.headline_punch {
  padding: 0;
  margin: 0;

  font-family: Cuprum;
  font-size: 30px;

  line-height: 30px;
  text-transform: uppercase;
}

.text_punch {
  font-size: 14px;
  font-family: "PT Sans";
  line-height: 24px;
  font-weight: 400;
}

/*----------------ПОПАП(главная)------------*/

.form_message {
  width: 620px;
  height: 430px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.labl_index {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.input_index:nth-child(1) {
  width: 220px;
  height: 38px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
}

.input_index:nth-child(2) {
  width: 220px;
  height: 38px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
}

.input_index:nth-child(3) {
  width: 460px;
  height: 114px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
}

/*<------------------------------------не понимаю почему не работает*/

.input_index:nth-child(1):hover,
.input_index:nth-child(2):hover,
.input_index:nth-child(1):focus,
.input_index:nth-child(2):focus {
  border: 2px solid #b5b5b5;
}

.input_index:nth-child(3):hover,
.input_index:nth-child(3):focus,
  {
  border: 2px solid #b5b5b5;
}

.input_index:nth-child(1):active,
.input_index:nth-child(2):active,
.input_index:nth-child(3):active {
  border: 2px solid #ee3643;
}

::-webkit-input-placeholder {
  /*нашла шаблон в интернете , обьяснишь? */
  color: #999999;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.placeholder_index {
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

}

/*<-----------------------стилизуется текст , который ввожу сама, а не подсказка*/


/*----------------ПОПАП(каталог)------------*/
.popup_catalog_line {
  width: 620px;
  height: 7px;
  background: #ee3643;
}

.popup_upper_box {
  width: 620px;
  height: 170px;
  background-color: #ffffff;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.popup_catalog {
  width: 620px;
  height: 282px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

/*.punch_upper_box::before{
  content: "-";
width: 620px;
height: 7px;
background:#ee3643;
}-----------------------------------------------можно ли было сделать так , у меня не вышла , если да, то вчем ошибка?*/

.popua_catalog_headline {
  color: #000000;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 0px;
}

.popup_close {
  border: none;
}

.punch_lower_box {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

/*-------------нет на стаилгайде-------*/
.popup_catalog_checkout:link,
.popup_catalog_checkout:visited {
  color: #ffffff;
  background-color: #ee3643;
  line-height: 18px;
  text-transform: uppercase;
}

.popup_catalog_checkout:hover,
.popup_catalog_checkout:focus {
  background-color: #ca2c37;

}

.popup_catalog_checkout:active {
  background-color: #fff;
  color: #000;
}

.punch_lower_box {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.popup_catalog_list {
  list-style: none;
  margin: 0px;
}

.popup_catalog_button {
  border: none;
  background-color: #fff;
  color: #000000;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.popup_catalog_button:hover,
.popup_catalog_button:focus {
  background-color: #ee3643;
  color: #fff;
}


ul {
  text-decoration:
    line-height:;
}




/*----------------------------------------CЕТКИ!------------------*/


/*----------header--------------*/

.shopping_bar {
  margin: 0 auto;
  padding: 0;

  display: flex;
  width: 940px;
  min-height: 45px;
  margin-bottom:50px;
}

.purchase_inform_list{
  display: flex;
  margin: 0;
  padding: 0;
}
.purchase_inform_list a{
 display: block;
 padding-top: 14px;
 padding-bottom: 14px;
 padding-left: 45px;
 padding-right: 26px
}
h1{
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 45px;
}
.inform_bar {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 940px;
}

.site_navigation {
  margin: 0 auto;
  padding: 0;
  width: 940px;
  margin-bottom: 60px;

}

.box_shopping_bar {
  width: 100%;
  min-height: 45px; /*почему шире?*/
  background-color: #293449;
}

.box_inform_and_navigation {
  width: 100%;
  margin-bottom: 60px;
  min-height: 278px;
  background-color: #f3f7f8;
}

/*---------------------*/
.site_navigation_list{
  display: flex;
  flex-wrap: wrap;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  min-height: 60px;
}

.site_navigation_list a {
  display: block;
  vertical-align: middle;
  padding-left:30px;
  padding-right:30px;
  padding-top:20px;
  padding-bottom:25px ;
}
.site_navigation_list a:first-child {
  padding-left:50px;
  padding-right:35px;
  padding-top:20px;
  padding-bottom:25px ;
}

.site_navigation_list a:last-child {
  padding-left:30px;
  padding-right:55px;
  padding-top:20px;
  padding-bottom:25px ;
}

.site_navigation_list a:nth-child(3){
  padding-left:30px;
  padding-right:30px;
  padding-top:20px ;
  padding-bottom:25px ;
}
/*----------main--------------*/

.catalog_navigation {
  display: flex;
  min-height: 410px;
  width: 940px;
}

.o {
  display: flex;
  justify-content: space-between;
  min-height: 143px;
   width: 940px;
}

.slider {
  background-color: #f3f7f8;
  width: 620px;
  height: 266px;
}

/*слайдор*/

.horizontal_сolumn {
  display: flex;
  min-height: 90px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.catalog_list {
  /*можно ли сверстать каталог на  главной странице и на странице каталога одним правилом? */
  width: 940px; /*задавала ширину для списка католога на  главной странице ( на странице каталога он 700px , но если задам эту ширину помещается
                только две карточки тавара , почему так?*/
  margin: 0 auto;
  margin-bottom: 20px;
}

.manufacturers_list {

  display: flex;
  justify-content:space-between;
  min-height: 260px;
  width: 940px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.before_footer {
  display: flex;

  min-height: 380px;
  width: 940px;
  justify-content: space-between;
  margin: 0 auto;
}

.about_company {
  width: 520px;
}


.main_footer {
 margin-top: 85px; 
}

.footer_site_info {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 110px;
  background-color: #32425c;
}

.additional_information {
  display: flex;
  background-color: #32425c;
  min-height: 110px;
}

.logo_footer{

margin-right: 170px;
}



.top_site_info {
  display: flex;
  min-height: 70px;
  width: 940px;
  margin: 0 auto;
}

.bottom_site_info {
  display: flex;
  flex-direction: column-reverse;

  min-height: 40px;
  width: 940px;
  margin: 0 auto;
}



.box_additional_info {
  display: flex;
  width: 100%;
  min-height: 110px;
 background-color: #293449;
}

 .additional_info {
  display: flex;
  width: 940px;
  min-height: 45px;
  margin: 0 auto;
  background-color: transparent;
}

/*почему отступ не уходит после margin:0;  ??
отступ работает только у контейнера .footer_social, по этому задавла margin через него
отмтупор много и они дублируются из-за того что пробовала по разному  */
.footer_contacts {
  margin: 0px;
  margin-left: 0px;
  margin-right: 160px;
  min-height: 35px;
  width: 230px;
}

.footer_social {
  min-height: 45px;
  width: 125px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.footer_copyright {
  display: flex; 
  justify-content: space-between;
  margin: 0px;
  margin-left: auto;
  min-height: 35px;
  width: 255px;
  
}

.copyright{
  margin-top: 40px;
  margin-bottom:35px;
  margin-right:120px;
}
  
  /*---------сетеи фильтров-----------*/
  .filters{
    min-height: 745px;
    width: 220px;
  }

  .catalog{

width: 700px;
height: 990px;
}

.catalog_list {
  display: flex;
  flex-wrap: wrap;
  
  list-style: none;
  margin: 0 ;
  padding: 0;
  margin-bottom: 50px;
} 
 
.catalog_columns {
  display: flex;
  justify-content: space-between;
  width: 945px;
 min-height: 1050px;
  margin:0 auto;
}
.pagination_list{

}
