body {
  margin: 0;


  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;

  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

  display: inline-block;
  padding: 14px 45px;
  border-radius: 5px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

hr {
  color: #f2f6f8;
  margin: 0;
  padding: 0;
}

/*----------------------------HEADER-------------------------------------*/

.tehnomart_logo {
  position: absolute;
  top: 0;
  left: 0;
}

.shopping_bar {
  background-color: #293449;
  justify-content: flex-end;

  position: relative;
}

.shopping_bar:hover {
  background-color: #212a3a;
}

/*----------строка поиска---------------*/

.search_headline {
  color: #ffffff;
  font-size: 17px;

  margin-left: 15px;

  position: relative;
}

.search_line {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-height: 40px;

  background-color: #293449;
  color: #000;
  font-size: 17px;

  border: none;
  }

.search_line:hover,
.search_line:focus{
  background-color: #212a3a;
}

.search_line:active {
  background-color: #ffffff;

  /*стиль текста в строке*/
  background-color: #ffffff;
  color: #000000;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.serch_container .search_headline {
  display: inline-block;
}

.search_line + .search_headline:active  {
  display: none;
}

.serch_button{
  margin-left: 15px;
}


/*------------shopping_bar (продолжение верхней строки шапки)---------------*/

.purchase_inform_list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.purchase_inform_item a:link,
.purchase_inform_item a:visited {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;

  box-sizing: border-box;
 height:  42px;

  position: relative;
}

.purchase_inform_item a:hover,
.purchase_inform_item a:focus {

  background-color: #212a3a;
}

.purchase_inform_item a:active {
  background-color: #161d29;
  opacity: 0.6;
}

.purchase_inform_list .basket_current{
  background-color: #ee3643;
} 

.purchase_inform_list .bookmarks::before{
  position: absolute;
  content: "";
  top: 14px;
  left: 15px;

  width: 20px;
  height: 17px;

  background-image: url(../svg/icon-bookmark.svg);
  background-repeat: no-repeat;
  position: 0 0;

  opacity: 0.3;
}


.purchase_inform_list .basket::before{
  position: absolute;
  content: "";
  top: 14px;
  left: 15px;

  width: 20px;
  height: 17px;

  background-image: url(../svg/icon-cart.svg);
  background-repeat: no-repeat;
  position: 0 0;

  opacity: 0.3;
}


.purchase_inform_item a:hover::before,
.purchase_inform_item a:focus::before
{
  opacity: 1;
}

.checkout_button:link,
.checkout_button:visited {

  color: #ffffff;
  font-size: 17px;
  padding: 0;

  background-color: #63a63e;

  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 12px;

  width: 150px;
  height: 42px;
}


.checkout_button:hover,
.checkout_button:focus {
  background-color: #5fbb2d;
}

.checkout_button:active {
  background-color: #518534;
  opacity: 0.5;
}


/*---------inform_bar(средняя строка шапки)-----------*/


.inform_bar {
  background-color: #f1f5f7;
}

h1,
.about_technomart {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  margin: 0px;
}

address {
  text-decoration: none;
  font-style: normal;
  margin-left: 70px
}


.tel_technomart:link,
.tel_technomart:visited,
.tel_technomart:hover,
.tel_technomart:focus 
.tel_technomart:active {

color: #e9292a;
font-size: 21px;
line-height: 21px;
letter-spacing: 0.42px;

display: block;
box-sizing: border-box;


width: 270px;
height: 45px;
border: 3px solid #ffffff;
background-color: #f2f6f8;


padding-top: 11px;

padding-left: 40px;
text-align: center;

position: relative;

}

.tel_technomart:link::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 15px;

  width: 20px;
  height: 20px;
 
 background-image:  url(../svg/icon-phone.svg);
  }


.street {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;

  text-align: center;

  margin-top: 10px;
}

.profile_list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-left: auto;

  position: relative;
}


.profile_list a:link,
.profile_list a:visited {

  color: #000000;
  font-size: 21px;
  font-weight: 400;

  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #fff;

  margin-right: 10px;
 
}

.profile_list a:hover,
.profile_list a:focus {
  color: #ee3643;
}

.profile_list a:active {
  color: #000000;
  opacity: 0.3;
}

.profile_list li:last-child{
  margin-right: 0;
}

 .come_in a{
  padding-left: 45px;
}



.come_in_icon{
  position: absolute;

  top: 19px;
}




.site_navigation_list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-wrap: wrap;
  min-height: 60px;

  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;

  align-items: center;
  justify-content: space-around;

}

.site_navigation_list a {
  color: #ffffff;
  font-size: 17px;
  display: block;
  
  padding-top: 20px;
  padding-bottom:23px; 
  padding-left:30px;
  padding-right: 30px;
 }

.site_navigation_list a:hover,
.site_navigation_list a:focus {
  background-color: #293449;
}

.site_navigation_list a:active {
  opacity: 0.5;
}


/*-------------------------MAIN-------------------------------*/

/*------catalog-navigation----*/

.catalog_navigation {
  margin: 0 auto;
  padding: 0;
  width: 940px;
  min-height: 415px;

  margin-bottom: 53px;
  position: relative;
}

.catalog_navigation_list {
  list-style: none;
  margin: 0;
  padding: 0;

 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.catalog_navigation_item {
  width: 300px;
  height: 123px;

  margin: 0;
  position: relative;
}

.catalog_navigation_item:nth-child(1) {
  background-color: #ffbf47;
}

.catalog_navigation_item:nth-child(1)::before{
  position: absolute;
  content: "";
  top: 30px;
  left: 210px;

  width: 44px;
  height: 65px;
 
 background-image: url(../svg/icon-1.svg);
}

.catalog_navigation_item:nth-child(2) {
  background-color: #3bbce3;
}

.catalog_navigation_item:nth-child(2)::before {
  position: absolute;
  content: "";
  top: 30px;
  left: 200px;

  width: 75px;
  height: 61px;
  
  background-image: url(../svg/icon-2.svg);
}

.catalog_navigation_item:nth-child(3) {
  background-color: #dc91d8;
}

.catalog_navigation_item:nth-child(3)::before {
  position: absolute;
  content: "";
  top: 30px;
  left: 190px;

  width: 78px;
  height: 62px;
  
 background-image: url(../svg/icon-3.svg);
}


.bottom_line .catalog_navigation_item:nth-child(4) {
  background-color: #8ed78f;
}

.bottom_line .catalog_navigation_item:nth-child(4)::before {
  position: absolute;
  content: "";
  top: 25px;
  left: 200px;

width: 60px;
height: 70px;

 background-image: url(../svg/icon-4.svg);
}
 

.bottom_line .catalog_navigation_item:nth-child(5) {
  background-color: #ffc047;
}

.bottom_line .catalog_navigation_item:nth-child(5)::before {
  position: absolute;
  content: "";
  top: 31px;
  left: 190px;

  width: 80px;
  height: 63px;
 
  background-image: url(../svg/icon-5.svg);
}





.catalog_navigation h3 {
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  position: absolute;
  top: 25px;
  left: 24px;
}



.catalog_navigation_list a:link,
.catalog_navigation_list a:visited {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  box-sizing: border-box;
  text-align: center;
  padding-top: 12px;


width: 135px;
height: 38px;


  background-color: rgba(0, 0, 0, 0.1);

  border-radius: 3px;

  position: absolute;
  top: 63px;
  left: 25px;

}

.catalog_navigation_list a:hover,
.catalog_navigation_list a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog_navigation_list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog_navigation_list a:nth-child()

/*-------------------------------ПОУЛЯРНЫЕ ТОВАРЫ-----------------------*/
.horizontal_сolumn {
  width: 940px;
  height: 90px;

  background-color: #f9f5f0;

  position: relative;
}

.horizontal_сolumn h2 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  margin-right: 373px;
  margin-left: 30px;
  margin-bottom: 35px;
  margin-top: 33px;
  padding: 0px;
}

.horizontal_сolumn a:link,
.horizontal_сolumn a:visited {
  background-color: #ee3643;
  border-radius: 5px;

  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;

  position: absolute;
  top: 25px;
  right: 25px;

  padding: 15px 55px;
  margin: 0;
}

.horizontal_сolumn a:hover,
.horizontal_сolumn a:focus {
  background-color: #ca2c37;
}

.horizontal_сolumn a:active {
  background-color: #ba2732;
}

/*---------------------КАРТОЧКИ ПРОИЗВОДИТЕЛЕЙ----------------------*/
.box_manufacturers
  {
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin-bottom: 20px;

  position: relative;
}

.box_manufacturers:hover,
.box_manufacturers:focus,
.box_manufacturers:active {
  width: 220px;
  height: 145px;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.manufacturers_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.manufacturers_list a:active {
  opacity: 0.3;

  display: block;
  width: 100%;
}

.manufacturers_list img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.box_about_purchase {
  background-color: #f4f8f9;

  display: flex;
  width: 100%;
  min-height: 522px;
  margin-bottom: 80px;

}

.about_purchase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  min-height: 455px;
 
  margin: 0 auto;
}

/*--------*/
.service {
  margin-top: 65px;
  margin-bottom: 75px;
  width: 100%;
}

.service_headline {
  margin: 0;
  padding: 0;

  font-family: Cuprum;
  font-size: 30px;
  line-height: 30PX;
  font-weight: 400;
  text-transform: uppercase;

  margin-bottom: 35px;
}

.service p {
  margin: 0;
  padding: 0;

  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.headline_sections{
  position: relative;
}
.headline_sections::before {
  content: "";

  position: absolute;
  top: -45px;
  left: 230px;

  background-image: url("../img/line.png"); 
  background-position: 0 0;
  background-repeat: repeat;


  width: 10px;
  height: 280px;
}

.headline_list {
  list-style: none;
  padding: 0;
  margin: 0;  
}


.headline_list button {
  border: none;
  margin: 0;
  padding: 0;

  background-color: #32425c;
  box-shadow: 0 1px 0 #293449;

box-sizing: border-box;
width: 240px;
height: 61px;

margin-bottom: 1px;
padding-left: 23px;
}

.headline_list .current {
  background-color: #fff;

}
.headline_list .current_title{
color: #32425c;
}

.headline_list .headline_paragraph:hover,
.headline_list .headline_paragraph:focus {
  background-color: #293449;
  box-shadow: none;

  margin-bottom: 0;
}

.headline_list .headline_paragraph:active {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: none;

  margin-bottom: 0;
}



.headline_list h3 {
  margin: 0;
  padding: 0;

  color: #fff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;


  min-width: 80px;
  text-align: left;
}

.headline_list h3:active {
  color: #32425c;
}

.sections {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sections h2 {
  margin: 0;

  color: #32425c;
  font-family: Cuprum;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;

  margin-bottom: 35px;
}

.sections p {
  margin: 0;
  padding: 0;

  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  line-height: 24px;

}

.shipping {
  padding-right: 350px;

  position: relative;

  overflow: hidden;
}

.shipping::before {
  content: "";

  width: 470px;
  height: 260px;

  background-image: url(../img/car.png);
  background-repeat: no-repeat;

  position: absolute;
  top: 20px;
  left: 150px;
}

.warranty {
 padding-right: 240px;

  position: relative;

  overflow: hidden;
}

.warranty::before {
  content: "";


  width: 389px;
  height: 283px;

  background-image: url(../img/warranty.png);
  background-repeat: no-repeat;

  position: absolute;
  top: 1px;
  left: 240px;
}

.credit {
  padding-right: 350px;

  position: relative;

  overflow: hidden;
}

.credit::before {
  content: "";

  width: 465px;
  height: 285px;

  background-image: url(../img/credit.png);
  background-repeat: no-repeat;

  position: absolute;
  top: -3px;
  left: 165px;
}

.buttom_credit {
  margin-top: 30px;
}

/*-------------------контакты и о компании----------------------*/

.before_footer h2 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.transport_companies_list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 25px;
}




.transport_companies_item {
  font-size: 18px;
  list-style: 20px;
  margin-bottom: 15px;
  padding-left: 35px;

  position: relative;
}

.transport_companies_item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;

  position: absolute;
  left: 2px;
  top: 9px;

}


.transport_companies_item:last-child {
  margin-bottom: 0;
}

.about_company a {
  padding: 13px 40px;
  border-radius: 5px;
}

.before_footer h2 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;


}

.contacts a {
  padding-left: 63px;
  padding-right: 60px;
  padding-top: 13px;
  padding-bottom: 13px;

  border-radius: 5px;
}

.before_footer p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;

  padding: 0px;
  margin: 0px;
}

.about_company p:nth-child(2) {
  margin-bottom: 20px;
}

.contacts p {
  margin-bottom: 30px;
}

.min_map {
  margin-bottom: 40px;
}

/*-----------------popua_map--------------*/

.box_popup_map {
background-color: #fff;

  width: 940px;
  height: 447px;
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  background-color: #565656;
  margin-bottom: 40px;

  margin: 0 auto;
  /*position: absolute;*/
  
   position: relative;
}

.popup_map_close {
width: 21px;
height: 21px;

font-size: 0;
border: 0;

position: absolute;
top: 7px;
right: 10px;

cursor: pointer;
background-color: transparent;
}

.popup_map_close::before,
.popup_map_close::after {
  content: "";

 position: absolute;
  top: 10px;
  left: 1px;


  width: 21px;
  height: 4px;

  background-color: #ee3643;
  border-radius: 1px;
}
.popup_map_close:before {
  transform: rotate(45deg);
}

.popup_map_close::after {
  transform: rotate(-45deg);
}


.box_lower_popup {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

/*------------------------------FOOTER-------------------------------------------*/


.footer_site_info {
  background-color: #32425c;
}

/*-------------навигация по сайту(футер)-------------*/
.footer_site_nav_list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-wrap: wrap;

  min-width: 555px;
  padding-top: 40px;
}

.footer_site_nav_list li{
 margin-right: 60px;

}

.footer_site_nav_list li:last-child {
  margin-right: 0;
}

.footer_site_nav_list a:link,
.footer_site_nav_list a:visited {
  color: #f3f7f9;
  font-size: 18px;


  display: block;
}

.footer_site_nav_list a:hover,
.footer_site_nav_list a:focus {
  text-decoration: underline;
}

.footer_site_nav_list a:active {
  color: #fff;
  opacity: 0.5;
}


/*------навигация по каталогу (футер)-------------*/


.footer_catalog_nav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
  width: 525px;
}
  

.footer_catalog_nav a:link,
.footer_catalog_nav a:visited {
  color: #ffd180;
  font-size: 18px;

  display: block;

  margin-right: 60px;

}

.footer_catalog_nav a:hover,
.footer_catalog_nav a:focus {
  text-decoration: underline;
}

.footer_catalog_nav a:active {
  color: #ffd180;
  opacity: 0.5;
}

.address_footer {
  margin: 0;

  font-style: normal;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;

  margin-right: 90px;
  width: 322px;

  margin-bottom: 50px;

}

.footer_catalog_nav a:last-child{
  margin-right: 0;
}


.copyright {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.social_networks {
  list-style: none;
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-wrap: wrap;
  width: 135px;
  
  margin:0 auto;


}

.social_button{
width: 41px;
height: 42px;
background-color: #212a3a;

border-radius: 50%;
margin-right: 4px;

display: flex;
align-items: center;
justify-content: center;
}

.social_button:hover,
.social_button:focus,
.social_button:active{
  background-color: #ee3643;
}

.social_button:nth-child{
  margin-right: 0;
}






.feedback {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.developer_contacts:link,
.developer_contacts:visited {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.developer_contacts:hover,
.developer_contacts:focus {
  text-decoration: underline;
}

.developer_contacts:active {
  color: #ee3643;
  text-decoration: none;
}

.developed {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

/*---------------------------------------MAIN CATALOG------------------------------------*/
.personal {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 300px;


}

.personal_box {
  /*display: inline-block;   не помогает */
  margin-top: 60px;
  /*margin-left: 100px; сжимается*/
}


.personal_profile {
  font-size: 21px;
  color: #000;

  background-color: #fff;
  
  padding-top: 13px;
  padding-bottom:13px;
  padding-left: 45px;
  padding-right: 40px;

  margin-right: 45px;
   margin-top: 60px;
/*margin-left: 100px;*/

  position: relative;
}

.personal_profile li:nth-child(1) {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 45px;
  padding-right: 40px;

 
  margin-top: 50px;
  margin-left: 100px;


}


.personal_profile ::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 13px;

  width: 20px;
  height: 18px;
  background-color: #c5c5c5;
}

.personal_list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  margin-left: 17px;
  margin-top: 15px;

  display: flex;
  min-height: 15px;
  width: 210px;
  justify-content: space-between;
}

.personal_item a:link,
.personal_item a:visited {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}


.personal_item:first-child a{
  position: relative;

}
.personal_item:first-child a::after {
  position: absolute;
  content: "";

width: 4px;
height: 5px;
background-color: #32425c;
border-radius: 50%;

  top: 7px;
  left: 90px;
  
}

.personal_item a:hover,
.personal_item a:focus {
  color: #ee3643;
  text-decoration: underline;
}

.personal_item a:active {
  text-decoration: underline;
  color: #32425c;
  opacity: 0.3;
}

.perforators_page{
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;

  width: 940px;
  min-height: 1050px;
  margin: 0 auto;
}

h1.inner_page {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
  background-color: #f2f6f8;
  width: 910px;
  margin: 0 auto;
  margin-bottom: 20px;
}





.breadcrumbs {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 940px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25px;

}

.breadcrumbs a {

  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs_current {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs_current::after {
  display: none;
}

.breadcrumbs_item {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs_item::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -25px;

  width: 8px;
  height: 8px;

  border-right: 1px solid #c5c9d1;
  border-top: 1px solid #c5c9d1;
  transform: rotate(45deg);
  background-color: #fff;
}

.breadcrumbs_item:last-child {
  margin-right: 0;
}

.home_page {
  

  background-image: url(../svg/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0 ;  /*обернуть ?*/
}



.filters {
  width: 220px;
}
.headline_filters{
 margin: 0;

  padding-top:14px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 150px;
 
color: #000000;
font-family: "PT Sans";
font-size: 13px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase;

 background-color: #f7f3ec;
 border-radius: 3px;
}

.filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters_manufacturers {
  margin-bottom: 20px;
  padding-left: 30px;
}

.filters_supply {
  margin-bottom: 20px;
  padding-left: 30px;
}

.filters_supply:last-child {
  margin-bottom: 75px;
}

.price_direction {
  list-style: none;
  margin: 0;

  display: flex;
  width: 45px;
  justify-content: space-between;
}



legend {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
}


.filters label {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.range_filter {
width: 220px;
margin-bottom: 25px;
}

.range_controls {

width: 180px;
height: 41px;
background-color: #f7f3ec;
border-radius: 3px;

margin-bottom: 25px;


  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  position: relative;
}

.range_controls .scale {
  height: 2px;

  background: #d7dcde;

}
.range_controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}
.range_controls .toggle {
position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #b1b1b1;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #e0ddd8;

  cursor: pointer;
}

.range_controls .toggle_min {
  left: 20px;
}

.range_controls .toggle_max {
  left: 130px;
}

.price_controls {
  font-size: 0;
}

.price_controls input {
  display: inline-block;
 

  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

width: 95px;
height: 38px;
background-color: #f7f3ec;

border: none;
border-radius: 3px;
margin-right: 30px;
}
.price_controls input:last-child{
  margin-right: 0;
}

.min_price{
  position: relative;
}

.min_price::before {
  content: "";
  position:absolute;
  top: 19px;
  left: 105px;
  
width: 10px;
height: 1px;
color: #444444;
}/*не работает*/

.input_checkbox+label::before {

  position: absolute;
  content: "";
  top: -2px;
  left: -30px;

  width: 20px;
  height: 20px;

  background-image: url("../svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.input_checkbox:checked+label::after {
  position: absolute;
  content: "";
  top: -3px;
  left: -27px;

  width: 22px;
  height: 17px;


  background-image: url("../svg/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.supply_radio_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input_radio+label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -35px;

  width: 25px;
  height: 25px;

  border: 2px solid #c5c5c5;
  border-radius: 50%;
}

.input_radio:checked+label::after {
  position: absolute;
  content: "";
  top: 5px;
  left: -25px;

  width: 10px;
  height: 10px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.button_submit {

  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;

  padding: 15px 40px;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff; 
}

.sorting{
display: flex;


width: 680px;
height: 18px; /*при min-height вытягивается сильно*/
background-color: #f7f3ec;
border-radius: 3px;

padding-top: 14px;
padding-bottom: 15px;
padding-left: 20px;


}


.headline_sorting{
  margin: 0;


color: #000000;
font-family: "PT Sans";
font-size: 13px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase;

margin-right: 140px;
}

.sorting_list {
  list-style: none;
  margin:0;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  justify-content: space-between;
}

.sorting_item:link,
.sorting_item:visited {
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #ee3643;
  text-transform: uppercase;

}

.sorting_item:hover,
.sorting_item:focus {
  opacity: 0.3;
  border-bottom: 1px solid #ee3643;
}


.sorting_item:active {
  opacity: 1;
  color: #ee3643;
}

.sorting_current{
  opacity: 1;
 text-decoration: none;
  color: #ee3643;

}



/*-----------------карточки товаров-----------*/

.catalog_item {
 position: relative;
  display: inline-block;
  width: 218px;
  height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-family: "PT Sans";
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #ccc;

   font-family: "PT Sans";
}

.catalog_item:hover {
  
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}



.catalog_item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}


.catalog_item .flag_new {
  background: url("../img/new_flag.png") 
  no-repeat 0 0;
}


.catalog_item_index .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}


.catalog_item_index .flag_new {
  background: url("../img/new_flag.png") 
  no-repeat 0 0;
}

.catalog_navigation_item .flag{
position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog_navigation_item .flag_new {
  background: url("../img/new_flag.png") 
  no-repeat 0 0;
}


.catalog_item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog_item .actions .buy,
.catalog_item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog_item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog_item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog_item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}

.catalog_item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  
  color: #999;
  text-decoration: line-through;
}

.catalog_item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog_item .price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;

}

.catalog_item:nth-child(3n) {
  margin-right: 0;
}

 .catalog_index .catalog_list {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.catalog_index .catalog_item:nth-child(3n) {
  margin-right: 20px;
}

.catalog_index .catalog_item:nth-child(4n) {
  margin-right: 0;
}




.pagination_list {
  list-style: none;
  padding: 0;
  margin: 0 auto;

  margin-top: 30px;
  margin-bottom: 60px;

  display: flex;
  width: 285px;
  min-height: 10px;

}

.pagination_item {
  margin-right: 10px;
}

.pagination_item:last-child {
  margin-right: 0;
}

.pagination_item a:link,
.pagination_item a:visited {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;


  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #ffffff;

  display: block;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
}



.pagination_list a:hover,
.pagination_list a:focus {

  border: 1px solid #bdc6ca;
}

.pagination_list a:active {
  border: 1px solid #ee3643;
}

.pagination_item_current {
  background-color: #ee3643;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;

  border-radius: 5px;

  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;


}

.punch_container {
  display: flex;
  width: 100%;
  min-height: 260px;
  background-color: #f2f6f8;
  padding-top: 65px;
}

.punch_box {
  margin: 0 auto;
  padding: 0;
  min-height: 120px;
  width: 940px;
}

.headline_punch {
  padding: 0;
  margin: 0;

  font-family: Cuprum;
  font-size: 30px;

  line-height: 30px;
  text-transform: uppercase;
}

.text_punch {
  font-size: 14px;
  font-family: "PT Sans";
  line-height: 24px;
  font-weight: 400;
}

/*----------------ПОПАП(главная)------------*/

.form_message_box{
    width: 620px;
    min-height: 430px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

    position: relative;

    margin: 0 auto;

}
.form_message_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

background-color: #ee3643;
width: 620px;
height: 7px;
}

.up_box_message{
  background-color: #fff;

}

.form_message_box form{
width:100%;
box-sizing: border-box;

padding-top: 55px;
padding-left: 80px;
padding-right: 80px;

}

.form_message label {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  
  display: block;
  margin-bottom: 12px; 
}


.form_message input[type="text"]{
  width: 220px;
  height: 38px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
  border-radius: 3px;

  margin: 0;
 margin-bottom: 22px;

}

.form_message input[type="e-mail"] {
  width: 220px;
  height: 38px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
  border-radius: 3px;

  margin: 0;
  padding: 0;

  margin-bottom: 22px;
}

.form_message textarea{
  width: 460px;
  height: 114px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
  border-radius: 3px;

  margin: 0;
  padding: 0;

  margin-bottom: 37px;
}
.form_message input[type="submit"]{

  padding-right:200px;
  padding-left:200px;

  margin: 0 auto;
}
.message_list{
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
width: 465px;
min-height: 220px;
}


input [placeholder="Имя Фамилия"],
input [placeholder="email@exampl.com"],
input [placeholder="В свободной фрме"]
{
  color: #999999;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;


  padding-left: 15px;
}


.message_close {
width: 21px;
height: 21px;

font-size: 0;
border: 0;

position: absolute;
top: 7px;
right: 10px;

cursor: pointer;
background-color: transparent;
}

.message_close::before,
.message_close::after {
  content: "";

 position: absolute;
  top: 15px;
  left: 1px;


  width: 21px;
  height: 4px;

  background-color: #ee3643;
  border-radius: 1px;
}
.message_close:before {
  transform: rotate(45deg);
}

.message_close::after {
  transform: rotate(-45deg);
}


.button_message{
  padding:  14px 200px;
  margin: 0 auto;

  margin-top: 37px;
  margin-left: 80px;
}

.down_box_message{

width: 100%;
height: 112px;
background-color: #f4f4f4;

}



/*----------------ПОПАП(каталог)------------*/
.popup_catalog_line {
  width: 620px;
  height: 7px;
  background: #ee3643;
}

.popup_upper_box {
  width: 620px;
  height: 170px;
  background-color: #ffffff;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;

  position: relative;
}

.popup_upper_box::before{
  position: absolute;
  content: "";
  top:0;
  left: 0;

width: 620px;
height: 7px;
background-color: #ee3643;
}

.popup_catalog_close {
width: 21px;
height: 21px;

font-size: 0;
border: 0;

position: absolute;
top: 7px;
right: 10px;

cursor: pointer;
background-color: transparent;
}

.popup_catalog_close::before,
.popup_catalog_close::after {
  content: "";

 position: absolute;
  top: 16px;
  left: 1px;


  width: 21px;
  height: 4px;

  background-color: #ee3643;
  border-radius: 1px;
}
.popup_catalog_close:before {
  transform: rotate(45deg);
}

.popup_catalog_close::after {
  transform: rotate(-45deg);
}



.popup_catalog {
  width: 620px;
  height: 282px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);


margin:0 auto;
/*position: absolute;*/

}


.popua_catalog_headline {
  color: #000000;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;

  padding-top: 75px;
  padding-left: 180px;

  position: relative;
}

.popua_catalog_headline::before{
  position: absolute;
  content: "";

  top: 60px;
  left: 80px;


width: 66px;
height: 66px;


background-image: url(../img/form-1.png);
}

.popup_close {
  border: none;
}

.punch_lower_box {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}




.punch_lower_box {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.popup_catalog_list {
  list-style: none;
  margin: 0px;
  display: flex;

  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;




}
.popup_catalog_list li{
  margin-right: 20px;
}
.popup_catalog_list li:last-child{
  margin-right: 0;
}

.make_purchase{
  padding: 14px 60px; 
}
 .continue_shopping{
  padding: 14px 60px;
  background-color: #fff;
  color: #000;
  
}
.popup_catalog_button:hover,
.popup_catalog_button:focus {
  background-color: #ee3643;
  color: #fff;
}





/*----------------------------------------CЕТКИ!------------------*/


/*----------header--------------*/

.shopping_bar {
  margin: 0 auto;
  padding: 0;

  display: flex;
  width: 940px;
  min-height: 42px;
}

.purchase_inform_list {
  display: flex;
  margin: 0;
  padding: 0;

  
}

.purchase_inform_list a {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 45px;
  padding-right: 26px
}

h1 {
  margin-left: 50px;
  margin-top: 7px;
}

.inform_bar {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 940px;

  padding-top: 45px;
  padding-bottom: 45px;
}

.site_navigation {
  margin: 0 auto;
  padding: 0;
  width: 940px;
  margin-bottom: 60px;

}

.box_shopping_bar {
  width: 100%;
  min-height: 42px;
  
  background-color: #293449;
}

.box_shopping_bar:hover {

}

.box_inform_and_navigation {
  width: 100%;
  min-height: 278px;
  background-color: #f3f7f8;
}


.site_navigation_list {
  display: flex;
  flex-wrap: wrap;


  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  min-height: 60px;
}

/*----------main--------------*/


.sliders {
  position: absolute;

  top: 140px;
  left: 0;

  width: 620px;
  height: 266px;

  margin-right: 0;

  position: relative;
}

.slider_list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide_title {
color: #ffffff;
font-size: 36px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
margin: 0;
padding:0;

position: absolute;

top: 27px;
left: 23px;
}

.slide_text{ 
  padding: 0;
  margin: 0;

 position: absolute;
 top: 65px;
 left: 25px;

color: #ffffff;
font-size: 18px;
line-height: 24px;
}

.slide_button{
 position: absolute;
 top: 205px;
 left: 25px;

 padding-left: 50px;
}

.slider_1{
  background-image: url(../img/slider_1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider_2{
  background-image: url(../img/slider_2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

label .forward{
width: 22px;
height: 22px;
background-color:  transparent;
border: 2px solid #fff;
transform: rotate(45deg);

position: absolute;
top: 115px;
right: 25px;
}

label .backwards{
width: 22px;
height: 22px;
background-color:  transparent;
border: 2px solid #fff;
transform: rotate(45deg);

position: absolute;
top: 115px;
left: 25px;
}



.horizontal_сolumn {
  display: flex;
  min-height: 90px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f9f5f0;

  position: relative;
}


.catalog_list_index {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 940px;
  min-height: 320px;
}

/*через last-child тоже не сработал*/



.manufacturers_list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-height: 260px;
  width: 940px;

  margin: 0 auto;
}

.before_footer {
  display: flex;

  min-height: 380px;
  width: 940px;
  justify-content: space-between;
  margin: 0 auto;
}


.about_company {
  width: 520px;
}
 .main_footer {
  margin-top: 85px;
}

.footer_site_info {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 110px;
  background-color: #32425c;
}

.top_site_info {
  display: flex;
  min-height: 70px;
  width: 940px;
  justify-content: space-between;
  margin: 0 auto;
}

.bottom_site_info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  min-height: 40px;
  width: 940px;
  margin: 0 auto;
  padding-top: 32px;
}

.box_additional_info {
  display: flex;
  width: 100%;
  min-height: 110px;
  background-color: #293449;
}

.additional_info {
  display: flex;
  width: 940px;
  min-height: 45px;
  margin: 0 auto;
  background-color: transparent;

  padding-top: 40px;
}

.footer_contacts {
  margin: 0px;
  margin-left: 0px;
  margin-right: 160px;
  min-height: 35px;
  width: 230px;
}

.footer_copyright {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-left: auto;
  min-height: 35px;
  width: 255px;

}

.copyright {
  margin-right: 170px;
}


.catalog_list {
  width: 700px;

  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin: 0;
  padding: 0;

  margin: 20 auto;
  margin-bottom: 50px;
 

}

.catalog_columns {
  display: flex;
  justify-content: space-between;
  width: 945px;
  min-height: 1050px;
  margin: 0 auto;
}


