body {
  margin: 0;


  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
}

a {
  text-decoration: none;


}

.button {
  font: inherit;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border: none;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}
 /* ОСНОВНЫЕ ПРОБЛЕМЫ
самая большая проьлема с сылками, часто не работают стили для них(
не нашла шрифт для абзацев 
не нашла как отменись собственные стили тега address
как понять когда задавать класс ссылке а когда элементу списка?
не знаю как при наведении "открыть" кнопки в карточках товара

*/


/*hader*/


/* логотип это картинка и ссылка одновременно, цвет меняется при навкдении и клике , как это сверстать?*/


.shopping_bar {
  background-color: #293449;
}

.shopping_bar:hover {
  background-color: #212a3a;
  /*цвет фона меняется в разнвх состояниях, можно и ссылке задать hover и тп? что делать с иконками дальше?*/
}

.search {
  color: #ffffff;
}

.purchase_information_list {
  list-style: none;
}

.purchase_information_item {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.place_order_button {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;

}

.place_order_button:hover {
  background-color: #5fbb2d;

}

.place_order_button:focus {
  background-color: #5fbb2d;
}

/*"курсор в поле поиска" запуталась , не понимаю где и как оформлять. Получается если навожу курсор на поиск меняится 
  и фон навигации и фон гнопки и логотипа



.place_order_button:active {
  background-color: #518534;

}

.place_order_button:visited {
  background-color: #518534;
}*/



.inform_bar {
  background-color: #f3f7f8;
}



h1,
.about_technomart {

  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.tel_box {

  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;
  background-color: #f2f6f8;
}

.tel_technomart {

  width: 144px;
  height: 21px !important;
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
}

/*не работают стили для ссылок*/

address {
  text-decoration: none;
}

/*как убрать собственный стиль тега?*/
.technomart_address {

  width: 250px;
  height: 13px;
  color: #32425c;

  font-size: 14px;

  line-height: 24px;
}

.profile_list {
  list-style: none;
  ;
}

.profile_item {
  width: 210px;
  height: 14px;
  color: #32425c;

  font-size: 16px;

  line-height: 18px;
  text-decoration: underline;

}

.profile_list_box {

  width: 121px;
  height: 45px;
  background-color: #fff;
}

.profile_item:hover {
  color: #ee3643;
}

.profile_item:focus {
  color: #ee3643;
}

.profile_item:active {
  color: #000000;
  opacity: 0.3;
}

.enter-exit {
  list-style: none;
}

.username_box {

  width: 299px;
  height: 45px;
  background-color: #ffffff;
}

.username {

  width: 183px;
  height: 20px;
  color: #000000;

  font-size: 21px;

  line-height: 21px;
}

.username:hovar {
  color: #000000;
  opacity: 0.3;
}

/*не работает(*/



.site_navigation {

  /*width: 940px;
     height: 60px;*/
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.site_navigation_list {
  list-style: none;
}

.site_navigation_item {

  width: 121px;
  height: 15px;
  color: #ffffff;

  font-size: 17px;

  line-height: 17px;

}

.site_navigation_item:hover {
  background-color: #293449;

}

.site_navigation_item:focus {
  background-color: #293449;

}

.site_navigation_item:active {
  opacity: 0.5;

}

/*main*/


.catalog_navigation {
  background-color: #ffffff;

  list-style: none;
}

.catalog_navigation_list {
  list-style: none;
}

.catalog_navigation_item_materials {

  width: 300px;
  height: 123px;
  background-color: #ffbf47;
}

.catalog_navigation_item_instruments {

  width: 300px;
  height: 123px;
  background-color: #3bbce3;

}

.catalog_navigation_item_equipment {

  width: 300px;
  height: 123px;
  background-color: #dc91d8;
}

.headline_catalog_navigation_sale {


  width: 300px;
  height: 123px;
  background-color: #8ed78f;
}

.catalog_navigation_item_delivery {

  width: 300px;
  height: 123px;
  background-color: #ffc047;
}

/*можно ли добавлять номера в название класса?*/
.box_button_catalog_navigation1 {

  /*width: 135px;
height: 38px; нужно ли задавать эти пораметры или высота и ширина получаются за счет отступов?*/
  background-color: #000000;
  opacity: 0.1;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;

}

.headline_catalog_navigation {

  width: 115px;
  height: 22px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.box_popular_groups {

  /*width: 940px;
height: 89px;*/
  background-color: #f9f5f0;
}

.header_popular_groups {

  /*width: 260px;
height: 21px; */
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.button_popular_groups {
  float: right;
  background-color: #ee3643;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
}

.box_manufacturers {
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;

}

.box_manufacturers:hover {

  width: 220px;
  height: 145px;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;

}

.box_manufacturers:focus {

  width: 220px;
  height: 145px;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;

}

.box_manufacturers:active {
  width: 220px;
  height: 145px;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;

}

.brand-manufacturers_list {
  list-style: none;
}
.logo_manufacturer:active{
	opacity: 0.3;

}



.box_service_delivery {
  background-color: #f4f8f9;
}

.service_header {

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service_text {
  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.shipping_header {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.shipping_text {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  /*другой шрифт которого не было в папке проекта*/
}

.headline_list {
  list-style: none;
}

.headline_item_current {

  /*width: 78px;
height: 19px;*/
  color: #32425c;
  background-color: #ffffff;

  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

/*как астроить в разных состояниях*/
.headline_item {
  color: #ffffff;
  background-color: #32425c;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

.headline_item:hover {
  background-color: #293449;

}

.headline_item:focus {
  background-color: #293449;
}

.headline_item:activ {
  background-color: #ffffff;

}

.about_company {
  background-color: #ffffff;
}

.headline_about_company {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.transport_companies_list {
  list-style: none;

}

.transport_companies_item {
  font-size: 18px;
  list-style: 20px;
}

.footer_site_info {
  /*width: 1917px;
height: 300px;*/
  background-color: #32425c;
}

.footer_site_navigation_list {
  list-style: none;
}

a:-webkit-any-link {
  color: #f3f7f9;
}

/*это правило мешало цвету ссылкам в навигации футера*/
li.footer_site_navigation_item {
  /*
width: 69px;
height: 13px;*/
  color: #f3f7f9 !important;
  /* не знаю почему , все делала как везде, но именно это правило не хотел читать*/
  font-size: 18px;
  line-height: 24px;
}

.footer_site_navigation_item:hover {
  text-decoration: underline;

}

.footer_site_navigation_item:focus {
  text-decoration: underline;

}

.footer_site_navigation_item:activ {
  color: #fff;
  opacity: 0.5;

}

.footer_catalog_navigation_list {
  list-style: none;
}

.footer_catalog_navigation_item {
  /*
width: 79px;
height: 17px;*/
  color: #ffd180 !important;
  font-size: 18px;
  line-height: 24px;
}

.footer_catalog_navigation_item:hover {
  text-decoration: underline;

}

.footer_catalog_navigation_item:focus {
  text-decoration: underline;

}

.footer_catalog_navigation_item:activ {
  color: #ffd180;
  opacity: 0.5;

}

/* как сбросить стиль? address{

}*/
.additional-information {
  /*
width: 1917px;
height: 107px;*/
  background-color: #293449;
}

.copyright {
  /* 
width: 228px;
height: 33px;*/
  color: #ffffff;
  font-size: 16px;
  line-height: 18px
}

.social_networks {
  list-style: none;
}

.social-button:hover {
  background-color: #ee3643;
}

.social-button:focus {

  background-color: #ee3643;
}

.social-button:active {

  background-color: #ee3643;
}


.feedback {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.developer_contacts {
  color: #ffd180
    /*опять не меняется цвет*/
    font-size: 16px;
  line-height: 18px;
}

.developer_contacts:hover {
  text-decoration: underline;
}

.developer_contacts:focus {
  text-decoration: underline;
}

.developer_contacts:active {
  color: #ee3643;
}

.developed {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

/*main catalog*/
h1 .inner_page {
  /* 
width: 168px;
height: 23px;*/
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/*не работает*/
.horizon_column {
  /* 
width: 940px;
height: 89px;*/
  background-color: #f2f6f8;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs_item {
  /*
width: 79px;
height: 9px;*/
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.header_filter {
  /* 
width: 53px;
height: 9px;*/
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.form_header {
  /* 
width: 141px;
height: 14px;*/
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.manufacturers_checkbox_list {
  list-style: none;
}

.manufacturers_checkbox_item {
  /*
width: 81px;
height: 171px;*/
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.supply_radio_list {
  list-style: none;
}

.supply_radio_item {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

}

.button_submit {

  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  
}

.box_sorting {
  /*
width: 700px;
height: 38px;*/
  background-color: #f7f3ec;
}

.sorting_list {
  list-style: none;
}

.sorting_item {
  /*width: 52px;
height: 11px;**/
  opacity: 0.3;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px dotted #ee3643;
}

.sorting_item:hover {
  opacity: 0.3;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #ee3643;
}

.sorting_item:focus {
  opacity: 0.3;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #ee3643;
}

.sorting_item:active {
  opacity: 0.3;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  color: #ee3643;
}



/*карточки товаров*/


.catalog_list {
  list-style: none;
}

.catalog_item {
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.catalog_item:hover {
  width: 220px;
  height: 318px;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
/*не знаю как быть с кнопками , которые появляются при наведении на карточку товара (нужно делать какую-то "отсылку"" к другому селектору?*/

.goods_name {
  /* /
width: 155px;
height: 33px;*/
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

del {
  /*
width: 67px;
height: 12px;*/
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.new_price {
  width: 65px;
  height: 12px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.buy_button {
  /*width: 41px;
height: 10px;*/
  color: #ffffff;
font-size: 14px;
line-height: 18px;
  text-transform: uppercase;
   width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
 display: none;
}

.buy_button:hover {
  /*
width: 41px;
height: 10px;*/
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}
  /*display: block; опять же где прописывать это своество если кнопки нет, вроде как классу catalog_item*/

.buy_button:focus {
  /*
width: 41px;
height: 10px;*/
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
  display: block;
}

.buy_button:active {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  background-color: #518534;
  display: block;
}

.bookmark_button {
  /* 
width: 67px;
height: 12px;*/
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  width: 135px;
  height: 38px;
  border: 3px solid #63a63e;
  display: none;
}

.bookmark_button:hover {
  /* 
width: 67px;
height: 12px;*/
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  width: 135px;
  height: 38px;
  border: 3px solid #32425c;
}

.bookmark_button:focus {
  /* 
width: 67px;
height: 12px;*/
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  width: 135px;
  height: 38px;
  border: 3px solid #32425c;
}

.bookmark_button:activ {
  /* 
width: 67px;
height: 12px;*/
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  width: 135px;
  height: 38px;
  border: 3px solid #32425c;
  opacity: 0.3;
}

/*страницы сайта */


.pagination_list{
	list-style: none;
}
.pagination_item{
color: #000000;
font-family: "PT Sans";
font-size: 13px;
font-weight: 400;
line-height: 18px;
width: 38px;
height: 38px;
border: 1px solid #e5e5e5;
background-color: #ffffff;
}
.pagination_item:hover{
color: #000000;
font-family: "PT Sans";
font-size: 13px;
font-weight: 400;
line-height: 18px;
width: 38px;
height: 38px;
border: 1px solid #bdc6ca;
background-color: #ffffff;
}
.pagination_item:focus{
color: #000000;
font-family: "PT Sans";
font-size: 13px;
font-weight: 400;
line-height: 18px;
width: 38px;
height: 38px;
border: 1px solid #bdc6ca;
background-color: #ffffff;
}
.pagination_item:activ{
color: #000000;
font-family: "PT Sans";
font-size: 13px;
font-weight: 400;
line-height: 18px;
width: 38px;
height: 38px;
border: 1px solid #ee3643;
background-color: #ffffff;
}
.page_now{

width: 38px;
height: 38px;
background-color: #ee3643;
color: #ffffff;
font-family: "PT Sans";
font-size: 13px;
font-weight: 400;
line-height: 18px;

}
.punch_box{
	/* 
width: 1286px;
height: 261px;*/
background-color: #f2f6f8;
}
.header_punch{

font-family: Cuprum;
font-size: 30px;

line-height: 30px;
text-transform: uppercase;
}
.text_punch{

/* везде, во всех параграфах этот шрифт, но его нет в папке...и гугл фонтс
font-family: "Myriad Pro";
font-size: 14px;
font-weight: 400;
line-height: 24px;
 */

}
